module.exports = {
    tcp_port: 14240,
    http_port: 14241,
    db: {
        enable: false,
        host: 'localhost',
        user: 'root',
        database: '',
        password: '',
        table: ''
    },
    twitter: {
        enable: true,
        credentials: {
            consumer_key: '',
            consumer_secret: '',
            access_token_key: '',
            access_token_secret: ''
        },
        filters: [
        ]
    }
};