module.exports = {
    tcp_port: '',
    http_port: '',
    web_port: '',
    db: {
        enable: false,
        host: 'localhost',
        user: 'root',
        database: '',
        password: '',
        table: ''
    },
    twitter: {
        enable: true,
        credentials: {
            consumer_key: '',
            consumer_secret: '',
            access_token_key: '',
            access_token_secret: ''
        },
        filters: [
        ],
        socket_io_debug_level: 3
    }
};